<div class="login-page">
    <div class="login container">
        <h1>Login</h1>
        <form [formGroup]="loginForm">
            <input type="text" formControlName="username" placeholder="Username" required="required" />
            <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
            <input type="password" formControlName="password" placeholder="Password" required="required" />
            <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            <button type="button" class="btn btn-primary btn-block btn-large" (click)="login(loginForm.value)">Sign In</button>
        </form>
    </div>
</div>