<app-header></app-header>
<div class="container">
    <div class="ui-g-12 space-top">
        <button type="button" class="btn-primary btn-large" (click)="createUser()">Create User</button>
    </div>
    <div class="ui-g-12 space-top">
        <app-user-table [users]="users" (editUserData)="editUserData($event)" (activateDiactivateUser)="activateDiactivateUser($event)">
        </app-user-table>
    </div>
    <p-dialog header="Title" [(visible)]="display" closeIcon="fa fa-times" width="500" resizable="false">
        <app-user-details-form [userDetails]="userDetails" (userData)="saveData($event)"
            (closeDialog)="closeDialog($event)" *ngIf="display"></app-user-details-form>
    </p-dialog>
</div>