<div class="ui-g-12">
    <div class="form-container">
        <form [formGroup]="userDetailsForm">
            <div class="mrg-top-15">
                <label>First Name</label>
                <input type="text" formControlName="firstName" placeholder="firstName" />
                <div *ngIf="f.firstName.touched && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>

            <div class="mrg-top-15">
                <label>Last Name</label>
                <input type="text" formControlName="lastName" placeholder="lastName" />
                <div *ngIf="f.lastName.touched && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>

            <div class="mrg-top-15">
                <label>E-Mail</label>
                <input type="text" formControlName="email" placeholder="email" />
                <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">E-mail is required</div>
                </div>
            </div>
            <div class="mrg-top-15">
                <label>Phone number</label>
                <input type="text" formControlName="phone" placeholder="phone" />
                <div *ngIf="f.phone.touched && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Phone number is required</div>
                </div>
            </div>
            <button type="button" class="btn-primary btn-large" (click)="onSave(userDetailsForm.value)">Save</button>
        </form>
    </div>
</div>