<p-table [value]="users" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th class="table-header" *ngFor="let col of cols">
                {{col.header}}
            </th>
            <th class="table-header">
                Action
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr class="table-body-row">
            <td *ngFor="let col of cols">
                {{user[col.field]}}
            </td>
            <td style="text-align:center">
                <i class="fa fa-pencil mrg-right-7 pointer" *ngIf="user.status == 'Active'"
                    (click)="editUser(user)"></i>
                <i class="fa fa-times-circle pointer" style="color: red" *ngIf="user.status == 'Active'"
                    (click)="disableUser(user)"></i>
                <i class="fa fa-check-circle pointer" style="color: green" *ngIf="user.status == 'Inactive'"
                    (click)="activateUser(user)"></i>
            </td>
        </tr>
    </ng-template>
</p-table>