body {
	width: 100%;
	height: 100%;
    font-family: 'Open Sans', sans-serif;

    .ui-dialog {
        background-color: #efefef;
        width: 40%;

        .ui-widget-header {
            background-color: #868383;
        }
    }

    .container {
        width: 1170px;
        margin: auto;

        .pointer {
            cursor: pointer;
        }

        .space-top {
            margin-top: 30px;
        }

        .mrg-top-15 {
            margin-top: 15px;
        }

        .mrg-right-7 {
            margin-right: 7px;
        }

        input {
            width: 93%;
            margin-bottom: 10px;
            border: none;
            outline: none;
            padding: 10px;
            font-size: 13px;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 4px;
            box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
            transition: box-shadow .5s ease;

            &:focus {
                box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
            }
        }
    }
    
    .btn-primary {
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        display: block;
        color: #ffffff;
        cursor: pointer;
        background-color: #4a77d4;
        border: 1px solid #3762bc;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        &:hover {
            background-color: #4a77d4;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
        }
        &:active {
            background-color: #4a77d4;
        } 

        &.btn-large {
            float: right;
            padding: 8px 20px;
            margin-bottom: 0;
            font-size: 13px;
            line-height: 18px;
            color: #333333;
            text-align: center;
            border-radius: 4px;
        }
    }
}