.header-holder {
    height: 50px;
    width: 100%;
    box-shadow: 0px 4px 5px -1px rgba(155,173,182,.7);
    line-height: 50px;

    .logo-holder {
        float: left;
        margin-left: 7px;
    }

    .login-holder {
        cursor: pointer;
        float: right;
        color: rgb(0,0,0);
        opacity: .7;
        margin-right: 7px;
        transition: all .3s;

        &:hover {
            opacity: 1;
        }
    }
}