th {
    &.table-header {
        padding: 0.571em 0.857em !important;
        border: 1px solid #c8c8c8;
        font-weight: 700;
        color: #333333;
        background-color: #f4f4f4;
    }
}

tr {
    &.table-body-row {
        td {
            background-color: inherit;
            border: 1px solid #c8c8c8;
            padding: 0.571em 0.25em !important;
            background-color: #ffffff;
            color: #333333;
            word-wrap: break-word;
        }
    }
}

.ui-paginator-pages {
    a {
        &.ui-state-active {
            border: 1px solid #8b8787;
            background-color: #b0b0b0;
        }
    }
}